@use '../../themes';

@include themes.generateThemeMappings('first', (
  enabled: false,
));
@include themes.generateThemeMappings('second', (
  enabled: true,
));
@include themes.generateThemeMappings('first', (
  enabled: true,
));

.result {
  value: themes.getThemeValue(enabled, first);
}
