:global(.light) .card {
  background: #fff;
  background: var(--theme-light-surface, #fff);
}

:global(.dark) .card {
  background: #111;
  background: var(--theme-dark-surface, #111);
}

:global(.light).card {
  color: #fff;
  color: var(--theme-light-surface, #fff);
}

:global(.dark).card {
  color: #111;
  color: var(--theme-dark-surface, #111);
}
