:global(.light) .card {
  background-color: #fff;
  background-color: var(--theme-light-surface, #fff);
}
:global(.dark) .card {
  background-color: #111;
  background-color: var(--theme-dark-surface, #111);
}
:global(.light).card {
  color: #fff;
  color: var(--theme-light-surface, #fff);
}

:global(.dark).card {
  color: #111;
  color: var(--theme-dark-surface, #111);
}
